<div class="container py-3">
  <h1>D3.js - Supermarket Store Branches Sales Analysis</h1>
  <p class="lead">
    This Web-App allows you to have any number of scatter plot(s), compare any 2 of the  parameters for the analysis.
  </p>
  <p>
    In the dataset, You'll get data of different stores of a supermarket company as per their store IDs which for ease
    has been converted to positive integers.
  </p>
  <table class="table">
    <tbody>
      <tr>
        <th>Store ID</th>
        <td>(Index) ID of the particular store.</td>
      </tr>
      <tr>
        <th>Store_Area</th>
        <td>Physical Area of the store in yard square.</td>
      </tr>
      <tr>
        <th>Items_Available</th>
        <td>Number of different items available in the corresponding store.</td>
      </tr>
      <tr>
        <th>DailyCustomerCount</th>
        <td>Number of customers who visited to stores on an average over month.</td>
      </tr>
      <tr>
        <th>Store_Sales</th>
        <td>Sales in (US $) that stores made.</td>
      </tr>
    </tbody>
  </table>
  <div class="row my-2">
    <div class="col-12">
      <h4>Meta Information</h4>
    </div>
    <div class="col-6 col-md-3">
      <app-d3-box-plot title="AREA" [data]="areaBoxPlotData"></app-d3-box-plot>
    </div>
    <div class="col-6 col-md-3">
      <app-d3-box-plot title="AVAILABLE ITEMS" [data]="availableItemsBoxPlotData"></app-d3-box-plot>
    </div>
    <div class="col-6 col-md-3">
      <app-d3-box-plot title="DAILY CUSTOMER COUNT" [data]="dailyCustomerCountBoxPlotData"></app-d3-box-plot>
    </div>
    <div class="col-6 col-md-3">
      <app-d3-box-plot title="SALES" [data]="salesBoxPlotData"></app-d3-box-plot>
    </div>
  </div>
  <hr>

  <div 
    *ngFor="let grp of groups" 
    [ngStyle]="{ border: '1px solid', borderRadius: '1rem', borderColor: grp.color }"
    class="row my-2 py-3" 
  >
    <div class="col-12">
      <input class="form-control" [(ngModel)]="grp.name">
    </div>
    <div class="col-12 col-md-6">
    </div>
  </div>
  <div 
    [ngStyle]="{ border: '1px solid', borderRadius: '1rem', borderColor: 'green' }"
    class="row my-2 py-3" 
  >
    <div class="col-12">
      <button class="btn btn-outline-success">Add Group</button>
    </div>
  </div>
</div>